.subtitulo {
  font-family: 'Josefin Slab', serif;
  font-weight: bolder;
  margin: 20px 0;
  font-size: 1.5rem;
  padding-bottom: 5px;
  border-bottom: 1px solid #C6232D;
  width: 50%; }

.info_nosotros {
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 50px 0; }

.destinos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.destinos_items {
  width: 20%;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  margin-left: 0;
  position: relative;
  overflow: hidden; }
  .destinos_items img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover; }
  .destinos_items h2 {
    text-align: center;
    width: 100%;
    margin: 10px 0;
    font-family: 'Josefin Slab', serif;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    font-size: 16px; }
  .destinos_items p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 5px;
    width: 100%; }

.promocion {
  position: absolute;
  height: 20px;
  padding: 15px 0;
  background: #C6232D;
  color: white;
  text-align: center;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Josefin Slab', serif;
  top: 30px;
  left: -50px;
  -webkit-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg); }

.resort {
  width: 100%;
  text-align: center;
  display: block;
  font-size: 40px;
  margin-top: 20px; }

.mod {
  width: 100%;
  text-align: center;
  margin: 10px 0; }

li {
  list-style: disc; }

footer {
  background: #22282C;
  padding: 20px;
  border-top: 5PX SOLID black; }
  footer .medio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.footer_items h3, .footer_items li {
  color: white; }

.footer_items li {
  list-style: circle;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 5px; }

.footer_items h3 {
  font-family: 'Josefin Slab', serif;
  border-bottom: 1px solid white;
  margin: 5px;
  padding-bottom: 10px; }

@media screen and (max-width: 1100px) {
  .destinos_items {
    width: 30%; } }

@media screen and (max-width: 800px) {
  .destinos_items {
    width: 45%; }
  .medio {
    width: 98%; }
  .info_nosotros {
    line-height: 25px;
    text-align: left;
    margin: 0; }
  footer {
    margin-top: 20px; }
    footer .medio {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
  .secound {
    margin-top: 20px; } }

@media screen and (max-width: 500px) {
  .destinos_items {
    width: 100%; } }
