@charset "UTF-8";

@font-face {
  font-family: "redrock";
  src:url("fonts/redrock.eot");
  src:url("fonts/redrock.eot?#iefix") format("embedded-opentype"),
    url("fonts/redrock.woff") format("woff"),
    url("fonts/redrock.ttf") format("truetype"),
    url("fonts/redrock.svg#redrock") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "redrock" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "redrock" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars:before {
  content: "\61";
}
.icon-building-o:before {
  content: "\62";
}
.icon-banknote:before {
  content: "\63";
}
.icon-phone:before {
  content: "\64";
}
.icon-briefcase:before {
  content: "\65";
}
